sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
# Remove langchain_openai if you no longer use OpenAI
# langchain_openai
langchain_experimental
anthropic  # Add Anthropic official python client for Anthropic LLM usage
-e .
